html {
    position: relative;
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.ClustGround {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: #111; */
    color: #fff;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background: linear-gradient(blue, red, white);
}

h2 {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
}

header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    background: black;
    box-shadow: 0 0 3px black;
    font-family: 'Kanit', sans-serif;
    padding: 5px 100px;
}

header .element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 10px;
}

header img {
    width: 64px;
    height: 64px;
}

header .end {
    padding: 10px;
    display: inherit;
    margin-left: auto;
}

header .end img {
    width: 48px;
    height: 48px;
}

a {
    position: relative;
    text-decoration: none;
    font-family: sans-serif;
    color: #a0a0a0;
    letter-spacing: 0.5px;
}

a:after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3);
    /* #26c6da, #43a047, #eeff41, #f9a825, #ff5722); */
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover {
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3);
    -webkit-background-clip: text;
    color: transparent;
}

a:hover::after {
    width: 100%;
}

ul {
    list-style: none;
}

.tasks_list {
    padding: 15px;
    display: flex;
    gap: 4rem;
    font-size: 25px;
    font-weight: 700;
}

#canvas {
    background-color: #d8d4d4;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    opacity: 0.6;
}


/* .wrapper {
    margin-top: 75px;
    display:grid;
    grid-template-columns: 8ch auto;
} */

.toolbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 75px;
}

input {
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #080D0D;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    margin: 5px auto 5px auto;
    text-align: center;
}

.button {
    width: 300px;
    height: 50px;
}

#getClusters {
    width: 200px;
    height: 50px;
    background-color: rgb(126, 184, 228);
}

#kMeans {
    width: 240px;
    height: 50px;
}

#clear {
    margin-bottom: 30px;
}


/* #button-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
} */

@media (max-width: 980px) {
    header img {
        display: none;
    }
    header {
        flex-direction: column;
        padding: 0px;
        display: block;
    }
    header .end {
        display: none;
    }
    #canvas {
        margin-left: 250px;
        margin-right: 330px;
    }
    .button {
        width: 200px;
        height: 40px;
    }
    #getClusters {
        width: 40px;
        height: 40px;
    }
    #kMeans {
        width: 155px;
        height: 40px;
    }
    #clear {
        margin-bottom: 10px;
    }
    #button-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
}